* {
    font-family: inter;
    margin: 0;
    padding: 0;
}

.rounded-mic-parent {

    position: relative;
}

.rounded-mic-parent .mic {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.rounded-shape {
    width: 170px;
    height: auto;
}

.rounded-mic-parent span {
    background-color: #00ff88;
    color: #000;
    font-weight: 700;
    padding: 6px 15px;
    border-radius: 20px;
    display: inline-block;
    position: absolute;
    top: 45px;
    left: 790px;
    transform: translate(-50%, -50%);
}


.container {
    max-width: 1240px;
    margin: auto;
}

.header-cover {
    background-image: url(assets/hero-bg.png);
    background-size: cover;
    height: 640px;
  width: 100%;
    text-align: center;
    color: white;



}

header {


    background-color: rgb(44, 20, 79);
}



.header-text p {
    color: rgb(151, 155, 158);
}

header {
    background-color: rgb(14, 0, 32);
}

.tech {
    font-size: 60px;
    font-weight: 800;
    line-height: 73px;
    font-family: Inter;
    letter-spacing: 0%;
    font-family: Inter;
    font-style: Extra Bold;
}

.btn {
    width: 201px;
    height: 44px;

    height: 44px;
    gap: 8px;

    border-radius: 10000px;
    background: var(--Linear, linear-gradient(47.64deg, #f7e93f, rgba(251, 9, 180, 1), rgba(145, 0, 248, 1)));
    color: white;
    border: none;
    font-weight: 600;
    font-size: 16px;
}


.btn2 {
    width: 201px;
    height: 44px;
    gap: 8px;
    margin-top: 24px;
    border-radius: 10000px;
    background: transparent;
    color: rgba(0, 255, 136, 1);
    border: 1px solid rgba(0, 255, 136, 1);
    font-weight: 600;
}

.subscribe-btn {
    width: 135px;
    height: 44px;
    gap: 8px;
    border-radius: 10000px;
    background: var(--Linear, linear-gradient(47.64deg, #f7e93f, rgba(251, 9, 180, 1), rgba(145, 0, 248, 1)));
    color: rgba(242, 229, 229, 0.856);
    border: none;
    font-weight: 600;
    font-size: 16px;
}

nav {
    display: flex;
    justify-content: space-between;

    align-items: center;
    color: white;
    padding: 20px;
}

.list-item {
    list-style: none;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    color: rgb(181, 200, 215);
    ;

}

/* about section design */
.about {
    text-align: center;
    background-color: rgb(14, 0, 32);
    color: rgb(184, 193, 201);

}

.line {
    border: 1px solid rgba(243, 220, 220, 0.119);
    margin-top: 75.5px;
    margin-bottom: 80.5px;
}

.about p {
    color: rgb(151, 155, 158);

}

.number {
    display: flex;
    justify-content: space-between;
    margin-top: 80.5px;
    padding-bottom: 120px;
}

.number p {
    text-transform: uppercase;
}

.n-text {
    width: 240px;
    height: 58px;
    color: rgba(0, 255, 136, 1);
    font-family: Inter;
    font-size: 48px;
    font-weight: 900;
    line-height: 58px;
    letter-spacing: 0%;
    text-align: center;
    text-transform: capitalize;
}

/* why choose design */
.why-choose {



    height: 750px;
    background-color: rgba(22, 2, 47, 0.995);
    color: aliceblue;

}

.box {
    border: 2px solid rgb(14, 2, 44);
    background-color: rgb(47, 6, 86);
    border-radius: 40px;
    text-align: left;
}

.boxs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 200px);
    gap: 10px;
}

.boxs h3 {
    text-align: left;
}

.box-content {
    padding: 20px 20px;


}

.box-content h3 {
    margin-bottom: 16px;
    margin-top: 16px;

}

.grid-layout {
    grid-column: span 1;
    grid-row: span 2;
}

.grid-layout2 {
    grid-column: span 2;
    grid-row: span 1;
}

.grid-layout3 {
    grid-column: span 2;
    grid-row: span 1;
}


/* feature design start */

#featured-section {
    color: aliceblue;
    background-color: rgb(14, 0, 32);

}



.featured-box {

    gap: 10px;
    display: flex;
    justify-content: space-between;
}

.featurcard p {
    margin-bottom: 20px;
    color: rgba(240, 248, 255, 0.506);

}

.featurcard img {
    width: 300px;
    height: 214px;
    border-radius: 24px 24px 0px 0px;

}

.card-content {
    width: 300px;
    padding-bottom: 24px;
    padding: 1px;

}

.featurcard {
    border-radius: 24px 14px;
    padding-bottom: 24px;
    background: rgba(37, 13, 68, 1);
    position: relative;
}

.watch {
    display: flex;
    gap: 5px;
    color: rgba(0, 255, 136, 1);

}

.youtube {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background: var(--Linear, linear-gradient(47.64deg, rgba(247, 233, 63, 1), rgba(251, 9, 180, 1), rgba(145, 0, 248, 1)));
    position: absolute;
    bottom: 240px;
    left: 120px;

}

/* host design start */

.host {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
    border: 1px solid rgba(46, 8, 39, 0);
    border-radius: 25px;
    padding: 40px;
    color: var(--#ffffff8e, rgba(255, 255, 255, 0.454));
    background-color: rgba(25, 5, 50, 0.727);
}

footer {
    background: url(assets/footer-bg.png);
    height: 320px;
    color: aliceblue;
    text-align: center;
    background-size: cover;
    padding: 20px 20px;

}

.icon-img {
    display: flex;
    gap: 8px;
    padding-top: 16px;
}

.icon-img img {

    gap: 8px;
    border: 1px solid rgba(90, 87, 87, 0.807);
    border-radius: 50%;
    padding: 5px;

}


.footer-section {
    display: flex;
    justify-content: space-between;
    margin: 32px;
   
}

.footer-section li {
    list-style: none; align-items: center;
}




@media screen and (max-width:576px) {
    .box {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .featured-box {

        flex-direction: column;
    }


}


@media screen and (min-width:576px) and (max-width:992px) {
    .box {
        display: grid;
        grid-template-columns: repeat(2, 1fr);

    }

    .featured-box {

        flex-direction: column;
    }


}

@media screen and (min-width:992px) and (max-width:1640px) {
    .box {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }


}